<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" th:attr="content=${lesson.title}">

	<title th:utext="${lesson.title}"></title>

	<link th:href="@{/css/u_main.css}" rel="stylesheet">
	<link th:href="@{/css/gap.css}" rel="stylesheet">
	<link th:href="@{/css/custom-tabs.css}" rel="stylesheet">
	<link th:href="@{/css/available-course.css}" rel="stylesheet">
	<link th:href="@{/css/info-blocks.css}" rel="stylesheet">
	<link th:href="@{/css/progress-bar.css}" rel="stylesheet">
	<link th:href="@{/css/jquery.fancybox.min.css}" rel="stylesheet">
	<link th:href="@{/css/btn.css}" rel="stylesheet">
	<link th:href="@{/css/gallery-block.css}" rel="stylesheet">
	<link th:href="@{/css/comment-block.css}" rel="stylesheet">
	<link th:href="@{/css/main-nav.css}" rel="stylesheet">
	<link th:href="@{/css/u_lesson.css}" rel="stylesheet">
	<link th:href="@{/css/popup-user-settings.css}" rel="stylesheet">
</head>

<body class="body">
	<div th:replace="base :: user-nav"></div>
	<div th:replace="base :: user-mobile-nav"></div>

	<div class="body__wrapper">
		<div class="body__header">
			<header class="header">
				<div class="header__box block">
					<div class="header__wrapper block-wrapper">
						<div class="header__main">
							<div class="header__items">
								<div class="header__items-wrapper">
									<div class="header__item header__item_title">
										<h3>Мои курсы</h3>
									</div>
									<div class="header__item header__item_btn">
										<a th:href="'/user/courses/' + ${idDeal} + '/' + ${idModule} + '/'"
											class="btn btn_outline header__btn header-btn">
											<div class="btn__content btn__content_large">
												<span class="btn__title btn__title_small btn__icon btn__icon_arrow-left">
													<span class="btn_title-text btn_title-text_small header-btn__text
                          header-btn__icon
                          ">
														К списку уроков
													</span>
												</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>

		<div class="body__content">

			<div class="lessons">
				<div class="lessons__inner">
					<a class="back" href="">
						<span class="back__icon"></span>
						Назад к списку уроков
					</a>

					<p class="lessons__headtitle title title-h2 -gap_0" th:utext="${lesson.title}"></p>
					<p class="lessons__headsubtitle subtitle subtitle-h5" th:utext="'Урок ' + ${lesson.index}"></p>


					<div class="lessons__list">

						<th:block th:each="lessonBlock,stat : ${lesson.lessonBlocks}">
							<div class="lessons__item lesson-video" th:if="${lessonBlock.type == 'video'}">
								<div class="lesson-item__inner lesson-video__inner">
									<p class="lesson-item__title lesson-video__title" th:utext="${lessonBlock.title}">Заголовок</p>

									<a data-fancybox th:href="${lessonBlock.value}" class="lesson-video__content">
										<img src="${lessonBlock.value}" class="content-video__preview" alt="">
									</a>
								</div>
							</div>

							<div class="lessons__item lessons-text" th:if="${lessonBlock.type == 'text'}">
								<div class="lessons__inner lesson-text__inner">
									<p class="lessons__title lesson-text__title"></p>
									<div class=" lessons-text__content" style="white-space: pre;" th:utext="${lessonBlock.value}">
									</div>
								</div>
							</div>

							<div class="lessons__item lessons-document" th:if="${lessonBlock.type == 'document'}">
								<div class="lessons-document__inner">
									<div class="lessons-document__left">
										<div class="lessons-document__item">
											<th:block
												th:with="format=${#strings.substring(lessonBlock.value, #strings.indexOf(lessonBlock.value, '.') + 1)}">
												<span class="lessons-document__format" th:utext="${format}"></span>
											</th:block>
										</div>
										<div class="lessons-document__item">
											<span class="lessons-document__title" th:utext="${lessonBlock.title}"></span>
										</div>
									</div>

									<div class="lessons-document__item">
										<div class="lessons-document__controls">
											<a class="lessons-document__btn btn-read" href="#">
												<span class="btn-read__icon"></span>
												<span class="btn-read__text">Посмотреть</span>
											</a>
											<a class="lessons-document__btn btn-download" href="#">
												<span class="btn-download__icon"></span>
												<span class="btn-download__text">Скачать</span>
											</a>
										</div>
									</div>
								</div>
							</div>

							<div class="lessons__item lessons-image" th:if="${lessonBlock.type == 'image'}">
								<div class="lessons__inner lessons-image__inner">
									<p class="lessons__title lessons-image__title" th:utext="${lessonBlock.title}"></p>

									<a data-fancybox th:href="'/' + ${lessonBlock.value}" class="lessons-image__content">
										<img src="" alt="">
									</a>
								</div>
							</div>

							<div class="lessons__item lessons-gallery" th:if="${lessonBlock.type == 'gallery'}">
								<p class="lessons__tile lessons-gallery__title"></p>
								<div class="lessons-gallery__content">
									<th:block th:each="img : ${lessonBlock.blockValues}">
										<a data-fancybox th:href="'/' + ${img.value}" class="lessons-gallery__item">
											<div class="gallery-item__preview" th:style="'background-image: url(/' + ${img.value} + ');'">
											</div>
										</a>
									</th:block>
								</div>
							</div>
						</th:block>

						<th:block th:unless="${isVoted}">
							<div class="block-delimiter"></div>
							<div class="lessons__item lessons-raiting">
								<div class="lessons__inner lessons-raiting__inner">
									<p class="lessons__title lessons-raiting__title">Голосование</p>
	
										<div vote-block-wrapper class="lessons-raiting__controls">
											<a vote data-rate="1" class="lessons-raiting__btn raiting-btn__for" href="#">
												<span class="raiting-btn__icon"></span>
											</a>
	
											<a vote data-rate="0" class="lessons-raiting__btn raiting-btn__against" href="#">
												<span class="raiting-btn__icon"></span>
											</a>
										</div>
								</div>
							</div>
							<div class="block-delimiter"></div>
						</th:block>


						<th:block th:if="${lesson.type == 'homework'}">
							<th:block th:if="${!isHomeworkCompleted and allowHomeworkStart}">
								<div class="block-delimiter -gap_7" js-hide-on-complete></div>
								<div class="block-header -gap_5" js-hide-on-complete>
									<div class="title title-h2 -gap_0">Сдать домашнее задание</div>
								</div>
	
								<form save-homework-form action="#" upload-block class="content-element" js-hide-on-complete>
									<div class="content-element__wrapper">
										<div class="content-element__side">
											<div class="content-input">
												<div class="content-input__wrapper">
													<div class="content-input__title">Ваше сообщение</div>
													<div class="content-input__item">
														<textarea name="comments[0].text" class="content-input__textarea" required
															placeholder="Введите ваше сообщение"></textarea>
													</div>
												</div>
											</div>
											<div class="gallery">
												<div class="gallery__wrapper gallery__wrapper_small custom-scroll">
													<div class="gallery__list" upload-list></div>
												</div>
											</div>
											<div class="block-delimiter"></div>
											<div class="upload-btn -gap_5">
												<div class="upload-btn__wrapper">
													<div class="upload-btn__item">
														<input type="file" data-name="comments[0].files" name="file" accept=".jpeg,.jpg,.png"
															id="imageFile" class="upload-btn__item-file" multiple>
														<label for="imageFile" class=" upload-btn__item-label">
															<span class="upload-btn__item-title js-fileName">Добавить
																фотографию</span>
														</label>
													</div>
													<div class="upload-btn__item">
														<input type="file" data-name="comments[0].files" name="file" accept=".doc,.pdf" id="docFile"
															class="upload-btn__item-file" multiple>
														<label for="docFile" class=" upload-btn__item-label upload-btn__item-label_file">
															<span class="upload-btn__item-title upload-btn__item-title_file js-fileName">Добавить
																файл</span>
														</label>
													</div>
												</div>
											</div>
											<button save-homework class="btn btn_violet homework__send">
												<div class="btn__content btn__content_medium">
													<span class="btn__title btn__title_small">
														<span class="btn_title-text btn_title-text_small">Отправить</span>
													</span>
												</div>
											</button>
										</div>
									</div>
								</form>
	
							</th:block>
	
							<th:block th:if="${isHomeworkCompleted}">
								<div class="content-element" th:if="${isHomeworkOnCheck}">
									<div class="content-element__wrapper  homework__popup">
										<div class="homework-accepted">
											<div class="homework-accepted__content">
												Спасибо! Ваше домашнее задание принято на проверку, ответ получите в
												скором времени!
											</div>
										</div>
									</div>
								</div>
	
								<div class="block-delimiter -gap_7" th:if="${!isHomeworkOnCheck}"></div>
	
								<div class="block-header -gap_5" th:if="${!isHomeworkOnCheck}">
									<div class="title title-h2 -gap_0">Домашнее задание</div>
								</div>
	
								<div class="content-element" th:if="${!isHomeworkOnCheck}">
									<div class="content-element__wrapper">
										<div class="content-element__side">
											<div class="comments">
												<div class="comments__wrapper">
													<div class="comments__item">
														<th:block th:each="comment : ${homework.comments}">
															<th:block th:if="${comment.type == 'user'}">
																<div class="comment comment_left">
																	<div class="comment__header -gap_2">
																		<!--                                                            <div class="comment__header-item">-->
																		<!--                                                                <div class="comment__avatar" style="background-image: url('/img/test-preview.png');">-->
																		<!--                                                                </div>-->
																		<!--                                                            </div>-->
																		<div class="comment__header-item">
																			<div class="comment__title">
																				<img class="comment__avatar" src="../../img/image13.png" alt="">
																				<span class="comment__author">Автор</span>
																			</div>
																		</div>
																	</div>
																	<div class="comment__body">
																		<div class="comment__text" th:utext="${comment.text}">Lorem ipsum dolor sit amet
																			consectetur, adipisicing elit. Itaque eum dolores, minus molestiae facere
																			consectetur explicabo quidem, recusandae, dolorem iusto sequi ipsum iste.
																			Veritatis ratione odio sequi saepe </div>
																		<div class="gallery -gap-inner-top_5">
																			<div class="gallery__wrapper gallery__wrapper_small custom-scroll">
																				<div class="gallery__list">
																					<th:block th:each="homeworkFile : ${comment.homeworkFiles}"
																						class="gallery__inner">
																						<th:block
																							th:if="${homeworkFile.type == 'jpeg' || homeworkFile.type == 'jpg' || homeworkFile.type == 'png'}">
																							<div class="gallery__item">
																								<a data-fancybox th:href="${'/' + homeworkFile.path}"
																									th:attr="data-fancybox=${homeworkFile.name}"
																									class="gallery-item gallery-item_small">
																									<!-- <img class="gallery-item__preview"
																											th:src="${'/' + homeworkFile.path}"> -->
	
																									<img src="../../img/bg.png" alt="">
																								</a>
																							</div>
																						</th:block>
																						<th:block
																							th:if="${homeworkFile.type == 'doc' || homeworkFile.type == 'pdf'}">
																							<a th:href="${homeworkFile.id + '/' + homeworkFile.path}"
																								class="gallery__item">
																								<div
																									class="gallery-item gallery-item_small gallery-item_pdf comment__files">
																									<div class="gallery-item__title" th:utext="${homeworkFile.type}">pdf
																									</div>
																									<div class="gallery-item__subtitle" th:utext="${homeworkFile.name}">
																										Title
																									</div>
																								</div>
																							</a>
																						</th:block>
																					</th:block>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</th:block>
															<th:block th:unless="${comment.type == 'user'}">
																<div class="comment comment_right">
																	<div class="comment__header -gap_2">
																		<!--                                                            <div class="comment__header-item">-->
																		<!--                                                                <div class="comment__avatar" style="background-image: url('/img/test-preview.png');">-->
																		<!--                                                                </div>-->
																		<!--                                                            </div>-->
																		<div class="comment__header-item">
																			<div class="comment__title">
																				<img class="comment__avatar" src="../../img/image13.png" alt="">
																				<span class="comment__author">Автор <span
																						class="comment__author--lightgray">Куратор</span></span>
																			</div>
																		</div>
																	</div>
																	<div class="comment__body comment__body_violet">
																		<div class="comment__text" th:utext="${comment.text}"></div>
																		<div class="gallery -gap-inner-top_5">
																			<div class="gallery__wrapper gallery__wrapper_small custom-scroll">
																				<div class="gallery__list">
																					<th:block th:each="homeworkFile : ${comment.homeworkFiles}"
																						class="gallery__inner">
	
																						<th:block
																							th:if="${homeworkFile.type == 'jpeg' || homeworkFile.type == 'jpg' || homeworkFile.type == 'png'}">
																							<div class="gallery__item">
																								<a data-fancybox th:href="${'/' + homeworkFile.path}"
																									th:attr="data-fancybox=${homeworkFile.name}"
																									class="gallery-item gallery-item_small ">
																									<!-- <img class="gallery-item__preview comment__files"
																											th:src="${'/' + homeworkFile.path}" alt="files"> -->
	
																									<img src="../../img/bg.png" alt="">
																								</a>
																							</div>
																						</th:block>
	
																						<th:block
																							th:if="${homeworkFile.type == 'doc' || homeworkFile.type == 'pdf'}">
																							<a th:href="${homeworkFile.id + '/' + homeworkFile.path}"
																								class="gallery__item">
																								<div
																									class="gallery-item gallery-item_small gallery-item_pdf comment__files">
																									<div class="gallery-item__title" th:utext="${homeworkFile.type}">pdf
																									</div>
																									<div class="gallery-item__subtitle" th:utext="${homeworkFile.name}">
																										Title
																									</div>
																								</div>
																							</a>
																						</th:block>
																					</th:block>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</th:block>
														</th:block>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</th:block>
						</th:block>

						<div class="content-nav__wrapper lessons-nav">
							<a th:href="'/user/courses/' + ${idDeal} + '/' + ${idModule} + '/' + ${prevLesson.id} + '/'"
								class="content-nav__item content-nav__item_prev" th:if="${prevLesson != null}">
								<div class="content-nav__item-number" th:utext="${prevLesson.index}">2</div>
								<div class="content-nav__item-text" th:utext="${prevLesson.title}">Еще какой-нибудь урок</div>
							</a>
							<a th:href="'/user/courses/' + ${idDeal} + '/' + ${idModule} + '/' + ${nextLesson.id} + '/'"
								class="content-nav__item content-nav__item_next" th:if="${nextLesson != null}">
								<div class="content-nav__item-text" th:utext="${nextLesson.title}">Еще какой-нибудь урок</div>
								<div class="content-nav__item-number" th:utext="${nextLesson.index}">3</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="popup">
			<div class="popup__inner">
				<div class="popup__block">
					<div class="popup__wrapper">
						<div class="popup__top-bar">
							Редактировать профиль
							<span class="popup__close"></span>
						</div>

						<div class="popup__avatar">
							<img src="../../img/image13.png" alt="avatar">
							<a href=".">Изменить аватар</a>
						</div>

						<p class="popup__name">Имя:</p>
						<input type="text" value="Василиса" placeholder="Введите имя">

						<p class="popup__lastname">Фамилия</p>
						<input type="text" value="Петрова" placeholder="Введите фамилию">

						<p class="popup__gender">Пол</p>

						<div class="popup__btn-container">
							<input name="gender" id="male" type="radio">
							<label class="popup__choose" for="male">Мужской</label>
							<input name="gender" id="female" type="radio" checked>
							<label class="popup__choose" for="female">Женский</label>
						</div>

						<p class="popup__birth">Дата рождения</p>
						<input type="text" value="02.09.1992" placeholder="Введите дату рождения">

						<p class="popup__city">Город</p>
						<input type="text" value="Барнаул" placeholder="Введите город">

						<p class="popup__tel">Телефон</p>
						<input type="text" value="+79000002222" placeholder="Введите телефон">

						<p class="popup__vk">Вконтакте</p>
						<input type="text" value="https://vk.com/niki7eev" placeholder="Введите аккаунт вконтакте">

						<p class="">Instagram</p>
						<input type="text" placeholder="Введите аккунт вашего инстаграм">
					</div>

					<div class="popup__controls">
						<a class="popup__save" href="#">Сохранить изменения</a>
						<a class="popup__cancel" href="#">Отмена</a>
					</div>

				</div>

			</div>
		</div>
	</div>

	<th:block th:insert="base :: jquery" />
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/jquery.fancybox.min.js}"></script>
	<script th:src="@{/js/progress-bar.js}"></script>
	<script th:src="@{/js/lesson-vote.js}"></script>
	<script th:src="@{/js/upload-item-files.js}"></script>
	<script th:src="@{/js/homework.js}"></script>
	<script th:src="@{/js/main-nav.js}"></script>
</body>

</html>