<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" th:attr="content=${module.name}">

  <title th:utext="${module.name}"></title>

  <link th:href="@{/css/u_main.css}" rel="stylesheet">
  <link th:href="@{/css/gap.css}" rel="stylesheet">
  <link th:href="@{/css/custom-tabs.css}" rel="stylesheet">
  <link th:href="@{/css/available-course.css}" rel="stylesheet">
  <link th:href="@{/css/info-blocks.css}" rel="stylesheet">
  <link th:href="@{/css/progress-bar.css}" rel="stylesheet">
  <link th:href="@{/css/btn.css}" rel="stylesheet">
  <link th:href="@{/css/main-nav.css}" rel="stylesheet">
  <link th:href="@{/css/lessons.css}" rel="stylesheet">
</head>

<body class="body">
  <div th:replace="base :: user-nav"></div>
  <div th:replace="base :: user-mobile-nav"></div>

  <div class="body__wrapper">
    <div class="body__header">
      <header class="header">
        <div class="header__box block">
          <div class="header__wrapper block-wrapper">
            <div class="header__main">
              <div class="header__items">
                <div class="header__items-wrapper">
                  <div class="header__item header__item_title">
                    <h3>Модули курса</h3>
                  </div>
                  <div class="header__item header__item_btn">
                    <a th:href="'/user/courses/' + ${idDeal} + '/'" class="btn btn_outline">
                      <div class="btn__content btn__content_large">
                        <span class="btn__title btn__title_small btn__icon btn__icon_arrow-left">
                          <span class="btn_title-text btn_title-text_small">К списку модулей</span>
                        </span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="body__content">
      <div class="lessons block -gap-inner-bottom_5">
        <div class="lessons__wrapper block-wrapper">
          <div class="lessons__main">
            <a class="back" th:href="'/user/courses/' + ${idDeal} + '/'">
              <span class="back__icon"></span>
              <span class="back__text">Назад к списку курсов</span>
            </a>
            <div class="block-header lessons-header">
              <div class="title title-h2 -gap_0" th:utext="${module.name}"></div>
              <div class="subtitle subtitle-h5" th:utext="'Модуль ' + ${module.index}"></div>
            </div>

            <th:block th:each="lesson, stat : ${lessons}">
              <div class="content-element lessons-item">
                <div class="lessons-item__inner">
                  <div class="lessons-item__left">
                    <div class="lessons-item__element" th:utext="${stat.count}"></div>
                    <div class="lessons-item__element lessons-about">
                      <div class="lessons-about__title" th:utext="${lesson.title}"></div>
                      <div class="lessons-about__content">
                        <div class="lessons-about__item">
                          <span class="lessons-about__icon"></span>
                          <span class="lessons-about__text" th:utext="${lesson.duration / 60 } + ' ч ' + ${lesson.duration % 60 } + ' мин'"></span>
                        </div>
                        <div class="lessons-about__item">
                          <span class="lessons-about__icon"></span>
                          <span class="lessons-about__text" th:utext="${lesson.documentsCounter} + ' документов'"></span>
                        </div>
                      </div>
                    </div>
                  </div>
              
                  <a class="lessons-item__element lessons-element__btn"
                    th:href="'/user/courses/' + ${idDeal} + '/' + ${lesson.idModule} + '/' + ${lesson.id} + '/'">

                    <th:block th:if="${lesson.type} == 'homework'">
                      <span class="lessons-element__text">Перейти к ДЗ</span>
                      <span class="lessons-element__icon"></span>
                    </th:block>
                    <th:block th:unless="${lesson.type} == 'homework'">
                      <span class="lessons-element__text">Перейти к уроку</span>
                      <span class="lessons-element__icon"></span>
                    </th:block>
                  </a>
                </div>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>