<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Модули курса">

	<title>Модули курса</title>

	<link th:href="@{/css/u_main.css}" rel="stylesheet">
	<link th:href="@{/css/gap.css}" rel="stylesheet">
	<link th:href="@{/css/custom-tabs.css}" rel="stylesheet">
	<link th:href="@{/css/available-course.css}" rel="stylesheet">
	<link th:href="@{/css/info-blocks.css}" rel="stylesheet">
	<link th:href="@{/css/progress-bar.css}" rel="stylesheet">
	<link th:href="@{/css/btn.css}" rel="stylesheet">
	<link th:href="@{/css/main-nav.css}" rel="stylesheet">
</head>

<body class="body" onload="getCountdownOnUserModulesPage()">
	<div th:replace="base :: user-nav"></div>
	<div th:replace="base :: user-mobile-nav"></div>

	<div class="body__wrapper modules">
		<div class="body__header modules-header">
			<header class="header modules-header__inner">
				<div class="header__box block modules-header__box">
					<div class="header__wrapper block-wrapper">
						<div class="header__main">
							<div class="header__items">
								<div class="header__items-wrapper">
									<div class="header__item header__item_title">
										<h3>Модули курса</h3>
									</div>
									<div class="header__item header__item_btn">
										<a href="/user/courses/" class="btn btn_outline">
											<div class="btn__content btn__content_large">
												<span class="btn__title btn__title_small btn__icon btn__icon_arrow-left">
													<span class="btn_title-text btn_title-text_small">Вернуться в
														каталог</span>
												</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>


		<div class="body__content modules-content">
			<div class="modules-content__inner block -gap-inner-bottom_5">

				<a class="back" href="/user/courses/">
					<span class="back__icon"></span>
					<span class="back__text">Назад к списку курсов</span>
				</a>

				<div class="modules-content__wrapper block-wrapper">
					<div class="modules__main modules-main">
						<div class="content-element modules-item current">
							<div class="content-element__wrapper modules-item__inner">
								<!--                                <div class="logo">-->
								<!--                                    <img src="/img/sa-logo.svg" alt="">-->
								<!--                                </div>-->

								<div class="content-element__header modules-item__header ">
									<div class="content-element__header-item modules-item__left modules-left">
										<div class="content-element__header-main modules-left__about">
											<div class="modules-left__left">
												<div class="content-element__header-element modules-left__title">
													<span class="content-element__title title title-h2" th:utext="${course.name}"></span>
												</div>

												<div class="content-element__header-element modules-left__type">
													<div class="outline-text">
														<div class="outline-text__content outline-text__content_dark">
															<div class="outline-text__text" th:utext="${course.type}">
																Online</div>
														</div>
													</div>
												</div>
											</div>
											<div class="content-element__header-element modules-left__countdown">
												<span class="content-element__title countdown css_countdown" th:id="countdown"
													th:data-startDate="${course.fullStartTime}"></span>
											</div>
										</div>
										<div class="content-element__header-side modules-left__content modules-info">
											<div class="info-blocks modules-info__inner">
												<div class="info-block info-block_icon info-block_icon_module modules-info__item">
													<span class="info-block__text" th:utext="${course.modulesCount} + ' модулей'"></span>
												</div>
												<div class="info-block info-block_icon info-block_icon_video modules-info__item">
													<span class="info-block__text" th:utext="${course.lessonsCount} + ' урок'"></span>
												</div>
												<div class="info-block info-block_icon info-block_icon_work modules-info__item">
													<span class="info-block__text"
														th:utext="${course.homeworkCount} + ' домашнее задание'"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="content-element__content modules-progress">
									<div class="progress-bar modules-progress__inner">
										<div class="progress-bar__wrapper">
											<div class="progress-bar__progress" th:style="'width:' + ${course.completedModulesPercent} + '%;'"
												th:classappend="${course.completedModulesClass}"></div>
											<span class="progress-bar__text" th:utext="${course.completedModulesPercent + ' %'}"></span>
											<span class="progress-bar__text"
												th:utext="${course.completedModulesCount + ' модуля пройдено'}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="block-delimiter"></div>

						<th:block th:each="module, stat : ${modules}">

							<div class="content-element part-item" th:classappend="${module.statusCode}">
								<div class="part-item__inner">
									<img class="part-item__img" src="../../../img/test-preview.png" alt="img">

									<div class="part-item__right part-right">
										<div class="part-right__header">
											<div class="part-right__id" th:utext="${stat.count}">1</div>
											<div class="part-right__about">
												<p class="part-right__title" th:utext="${module.name}"></p>
												<ul class="part-right__content part-content">
													<li class="part-content__item">
														<span class="part-content__icon"></span>
														<span class="part-content__type" th:utext="${module.lessonsCount} + ' урок'"></span>
													</li>
													<li class="part-content__item">
														<span class="part-content__icon"></span>
														<span class="part-content__type"
															th:utext="${module.homeworkCount} + ' домашнее задание'"></span>
													</li>
												</ul>
											</div>

											<span class="part-right__roll-up roll-up">
												<span class="roll-up__text">Свернуть</span>
												<span class="roll-up__icon"></span>
											</span>
										</div>

										<div class="part-item__column">
											<div class="part-right__description"
											th:utext="${module.description}">
											</div>

											<div class="part-right__status part-status" th:if="${module.allowStart && module.enabled}">

												<div class="part-status__estimation status-estimation">
													<span class="status-estimation__icon"></span>
													<p class="status-estimation__text"></p>
												</div>

												<div class="part-status__status">
													<th:block th:if="${module.statusId != 1 && module.statusId != 2}">
														<span class="part-status__icon"></span>
														<span class="part-status__text"
															th:utext="${module.enabled ? module.statusTitle : 'Недоступен'}"></span>
													</th:block>
													<th:block th:unless="${module.statusId != 1 && module.statusId != 2}">
														<span class="part-status__text"
															th:utext="${module.enabled ? module.statusTitle : 'Недоступен'}"></span>
													</th:block>
													<div class="part-status__success">
														<div class="part-status__estimation status-estimation">
															<span class="status-estimation__icon"></span>
															<p class="status-estimation__text"></p>
														</div>
													</div>
												</div>

												<th:block th:if="${module.enabled}">
													<a th:href="'/user/courses/' + ${idDeal} + '/' + ${module.id} + '/'" class="part-status__btn">
														Перейти к урокам
													</a>
												</th:block>
												<th:block th:unless="${module.enabled}">
													<a class="part-status__btn disabled" href="#">
														Перейти к урокам
													</a>
												</th:block>
											</div>

											<div class="module__lessons-closed" th:if="${!(module.allowStart && module.enabled)}">
												Урок будет доступен при выполнении домашнего задания
												прошлого модуля!
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<th:block th:insert="base :: jquery" />
<script th:src="@{/js/progress-bar.js}"></script>
<script th:src="@{/js/countdown.js}"></script>
<script th:src="@{/js/module-state.js}"></script>
<script th:src="@{/js/available-course.js}"></script>
<script th:src="@{/js/u_modules.js}"></script>

</html>