.available-course {
    display: block;
    margin-bottom: 30px;
}
.available-course:last-child {
    margin-bottom: 0px;
}

.available-courses {
    margin-top: 100px;
}

.available-course__wrapper {
    position: relative;
    height: auto;
    overflow: hidden;

    box-shadow: 0px 10px 20px rgba(8, 15, 32, 0.08);
    border-radius: 10px;

    color: #161718;
    display: flex;
    
    position: relative;
}

.available-course__main {
    padding: 25px 30px 40px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    display: flex;
    flex-direction: column;
    max-width: 460px;
}
.available-course__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 1.2;
    white-space: nowrap;
}
.available-course__desc {
    max-width: 400px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    opacity: 0.6;
}
.available-course__progress {
    margin-top: 0;
}
.available-course__side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 30px;
}
.available-course__image img {
    display: block;
    max-width: 100%;
}

.available-course__wrapper {
    transition: all 0.2s linear;

    &:hover {
        box-shadow: 0px 10px 20px rgba(8, 15, 32, 0.2%);
    }
}

.available-course__wrapper {
    &.light {
        color: #ffffff;

        .outline-text {
            &__content {
                border: 1px solid white;
            }

            &__text {
                color: #ffffff;
            }
        }
    }
}

.available-course__info {
    margin-top: 25px;
}

.available-course__info {
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .available-courses.block {
        padding-top: 0;
        transition: all 0.2s lin;
    }
    
    .header-block {
        display: none;
    }

    .modules-header__box {
        display: none;
    }

    .available-courses.block.-gap-inner-bottom_5.-gap-inner-top_5 {
        margin-top: 20px;
    }
}

@media (max-width: 850px) {
    .available-course__main {
        max-width: unset;
        padding-bottom: 0;
    }

    .available-course__wrapper {
        height: auto;
        display: block;
    }

    .available-course__image img {
        margin: 0 auto;
        display: none;
    }
}

@media (max-width: 600px) {
    .available-course__wrapper {
        height: auto;
        display: block;
    }

    .available-course__title {
        white-space: normal;
    }

    .available-course__image img {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width:528px) {
    .available-courses.block.-gap-inner-bottom_5.-gap-inner-top_5 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 433px) {
    .available-course__wrapper {
        height: auto;
    }

    .available-course__main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .available-course__side {
        padding: 0 20px;
    }

    .available-course__start {
        margin-bottom: 0;
    }

    .available-course__title {
        margin-top: 9px;
        margin-bottom: 0;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }

    .available-course__type {
        margin-top: 8px;
        margin-bottom: 0;
    }

    .available-course__desc {
        margin-top: 34px;
        margin-bottom: 0;
    }

    .available-course__progress {
        margin-bottom: 0;
    }
}

@media (max-width: 370px) {
    .info-content__item:last-child {
        margin-top: 20px;
    }
}
