.info-blocks {
}
.info-blocks__wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin-left: -15px;
    margin-right: -15px;
}

.info-block {
    position: relative;

    margin-left: 15px;
    margin-right: 15px;
}

.info-block_icon {
    padding-left: 28px;
    position: relative;
}
.info-block_icon_play:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 18px;
    width: 18px;
    -webkit-mask-size: auto 18px;
    mask-size: auto 18px;
    background-color: #481e8c;
    -webkit-mask: url(../img/play-icon.svg) no-repeat center;
    mask: url(../img/play-icon.svg) no-repeat center;
    transition: 0.4s;
    transform: translateY(-50%);
}
.info-block_icon_video:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 16px;
    width: 22px;
    -webkit-mask-size: auto 16px;
    mask-size: auto 16px;
    background-color: #481e8c;
    -webkit-mask: url(../img/video-icon.svg) no-repeat center;
    mask: url(../img/video-icon.svg) no-repeat center;
    transition: 0.4s;
    transform: translateY(-50%);
}
.info-block_icon_module:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 20px;
    width: 19px;
    -webkit-mask-size: auto 20px;
    mask-size: auto 20px;
    background-color: #481e8c;
    -webkit-mask: url(../img/module-icon.svg) no-repeat center;
    mask: url(../img/module-icon.svg) no-repeat center;
    transition: 0.4s;
    transform: translateY(-50%);
}
.info-block_icon_work:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 18px;
    width: 17px;
    -webkit-mask-size: auto 18px;
    mask-size: auto 18px;
    background-color: #481e8c;
    -webkit-mask: url(../img/work-icon.svg) no-repeat center;
    mask: url(../img/work-icon.svg) no-repeat center;
    transition: 0.4s;
    transform: translateY(-50%);
}
.info-block_icon_doc:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 20px;
    width: 16px;
    -webkit-mask-size: auto 20px;
    mask-size: auto 20px;
    background-color: #481e8c;
    -webkit-mask: url(../img/document-icon.svg) no-repeat center;
    mask: url(../img/document-icon.svg) no-repeat center;
    transition: 0.4s;
    transform: translateY(-50%);
}
.info-block_icon_clock:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 20px;
    width: 20px;
    -webkit-mask-size: auto 20px;
    mask-size: auto 20px;
    background-color: #481e8c;
    -webkit-mask: url(../img/clock-icon.svg) no-repeat center;
    mask: url(../img/clock-icon.svg) no-repeat center;
    transition: 0.4s;
    transform: translateY(-50%);
}
.info-block__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;

    white-space: nowrap;
}
.info-block__text_big {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
}
.info-block:after {
    content: "";
    display: block;
    width: 1px;
    height: 20px;

    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-56%);

    background-color: #cccdcf;
}
.info-date__item {
    &:nth-last-child(2) {
        &::after {
            display: none;
        }
    }
}

.info-content__item {
    &:last-child {
        &::after {
            display: none;
        }
    }
}

.info-date__logo {
    position: absolute;
    display: block;
    top: 20px;
    right: 30px;
    width: 81px;
    height: 56px;
}

@media (max-width: 850px) {
    .info-content {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 600px) {
    .info-block {
        margin-bottom: 15px;
    }

    .info-content {
        margin-bottom: 0;

        &__item {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 570px) {
    .info-date__item:nth-child(3) {
        display: none;
    }

    .info-date__item:nth-child(2)::after {
        display: none;
    }
}

@media (max-width: 433px) {
    .info-date {
        &__item {
            margin-bottom: 0;
        }

        &__text {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
        }

        &__logo {
            display: block;
            width: 35px;
            height: 24px;
            top: 20;
            right: 20px;
        }
    }

    .info-content {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: 0;

        &__item {
            margin: 0 21px 0 0;
            display: inline-flex;
            align-items: center;
            width: auto;

            &:last-child {
                margin-left: 0;
            }

            &::after {
                right: -9px;
            }
        }

        &__text {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}

@media (max-width: 375px) {
    .block {
        padding: 0 20px;
    }

    .header__box.block {
        padding: 20px;
    }

    .info-content {
        flex-wrap: wrap;
    }
}

@media (max-width: 358px) {
    .info-content {
        &__item {
            &:last-child {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 280px) {
    .info-date__logo {
        display: none;
    }
}
