<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Пароли">

    <title>Пароли</title>

    <th:block th:insert="base :: links" />
    <link th:href="@{/css/side-content.css}" rel="stylesheet">
</head>

<body>
<div th:replace="base :: main-nav"></div>

<div class="main-content main-content_white-top-small">
    <div class="content-top">
        <div class="content-top__header">Пароли</div>
    </div>
    <div class="side-content tabs__wrapper">
        <div class="side-content__side">
            <div class="side-category">
                <div class="side-category__list">
                    <th:block th:each="categoryPasswords, stat : ${mapCategoryPasswords}">
                        <div js-tab th:attr="data-tab=${categoryPasswords.key.id}" class="side-category__item" th:classappend="${stat.index == 0 ? 'active' : ''}">
                            <div class="side-category__link" th:utext="${categoryPasswords.key.name}"></div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="side-content__main tabs__blocks">
            <th:block th:each="categoryPasswords, stat : ${mapCategoryPasswords}">
                <div js-tab-panel th:attr="data-tab=${categoryPasswords.key.id}" class="tab-content" th:classappend="${stat.index == 0 ? 'is-open' : ''}">
                    <div class="side-header side-header_bordered">
                        <div class="side-header__title" th:utext="${categoryPasswords.key.name}"></div>
                    </div>
                    <div class="side-content__table">
                        <table class="custom-table custom-table_fixed">
                            <thead class="custom-table__header">
                                <td class="custom-table__header-col custom-table__header-col_big custom-table__header-col_gray">Назввание</td>
                                <td class="custom-table__header-col custom-table__header-col_big custom-table__header-col_gray">URL</td>
                                <td class="custom-table__header-col custom-table__header-col_big custom-table__header-col_gray">Логин</td>
                                <td class="custom-table__header-col custom-table__header-col_big custom-table__header-col_gray">Пароль</td>
                                <td class="custom-table__header-col custom-table__header-col_big custom-table__header-col_gray">Телефон</td>
                            </thead>
                            <tbody class="custom-table__body custom-table__body_white">
                                <th:block th:each="passwords : ${categoryPasswords.value}">
                                    <tr class="custom-table__body-row custom-table__body-row_large">
                                        <td class="custom-table__body-col">
                                            <div class="side-text" th:utext="${passwords.name}"></div>
                                            <div class="side-desc" th:utext="${passwords.desc}"></div>
                                        </td>
                                        <td class="custom-table__body-col">
                                            <div class="side-wrapper">
                                                <div class="side-text"  th:utext="${passwords.url}"></div>
                                                <div class="column-links">
                                                    <div js-copy-link class="column_mwidth column_mwidth-copy" th:attr="data-link=${passwords.url}"></div>
                                                    <a target="_blank" class="column_mwidth column_mwidth-open" th:attr="href=${passwords.url}"></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="custom-table__body-col">
                                            <div js-copy-link th:attr="data-link=${passwords.login}" class="side-copy">
                                                <div class="side-text" th:utext="${passwords.login}"></div>
                                            </div>
                                        </td>
                                        <td class="custom-table__body-col">
                                            <div js-copy-link th:attr="data-link=${passwords.password}" class="side-copy">
                                                <div class="side-text" th:utext="${passwords.password}"></div>
                                            </div>
                                        </td>
                                        <td class="custom-table__body-col">
                                            <div class="side-text" th:utext="${passwords.phone}"></div>
                                        </td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </th:block>
        </div>

    </div>
</div>


<th:block th:insert="base :: scripts"/>
<script th:src="@{/js/copy.js}"></script>
<script th:src="@{/js/tabs.js}"></script>
</body>
</html>