<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Оценка работы">

    <title>Оценка работы</title>

    <th:block th:insert="base :: links" />
    <link th:href="@{/css/jquery.fancybox.min.css}" rel="stylesheet">
</head>

<body>
<div th:replace="base :: dialog"></div>
<div th:replace="base :: main-nav"></div>

<div class="main-content main-content_white-top-medium">
    <div class="content-top content-top_btn">
        <div class="content-top__header">Оценка работы</div>
    </div>

    <div class="content-top content-top_small">
        <th:block th:if="${role == 'ROLE_ADMIN'}">
            <div th:replace="base :: a-quality-tab"></div>
        </th:block>
        <th:block th:if="${role == 'ROLE_EXAMINER'}">
            <div th:replace="base :: e-quality-tab"></div>
        </th:block>
    </div>

    <div class="content-main">
        <div class="content-main__wrapper content-main__wrapper_col">
            <div class="content-main__panel content-main__panel_align content-main__panel_p content-main__panel_large content-main__panel_col">
                <form qs-filter-form action="#" th:action="@{/quality/rating/}" th:object="${filter}" th:method="post" class="content-setting">
                    <div class="menu-input__wrapper menu-input__wrapper_select menu-input__wrapper_medium menu-input__wrapper_mr">
                        <select qs-filter class="menu-input__input menu-input__input_small menu-input__input_select menu-input__input_white" th:field="*{year}">
                            <option th:each="year : ${years}"  th:value="${year}"  th:utext="${year}"></option>
                        </select>
                    </div>
                    <div class="menu-input__wrapper menu-input__wrapper_select menu-input__wrapper_medium menu-input__wrapper_mr">
                        <select qs-filter class="menu-input__input menu-input__input_small menu-input__input_select menu-input__input_white" th:field="*{month}">
                            <option value="1">Январь</option>
                            <option value="2">Февраль</option>
                            <option value="3">Март</option>
                            <option value="4">Апрель</option>
                            <option value="5">Май</option>
                            <option value="6">Июнь</option>
                            <option value="7">Июль</option>
                            <option value="8">Август</option>
                            <option value="9">Сентябрь</option>
                            <option value="10">Октбярь</option>
                            <option value="11">Ноябрь</option>
                            <option value="12">Декабрь</option>
                        </select>
                    </div>
                </form>

                <div class="content-delim">
                    <span></span>
                </div>
            </div>

            <div class="content-main__panel content-main__panel_align content-main__panel_p content-main__panel_large content-main__panel_col">
                <div class="template-setting"
                     th:each="department : ${departments}"
                     th:attr="data-department=${department.id}"
                     th:if="${#lists.size(templateEmployee.get(department.id)) != 0 && #maps.size(templateSettings.get(department.id)) != 0}">
                    <div department class="template-setting__title" th:utext="${department.title}"></div>
                    <table class="custom-table">
                        <thead class="custom-table__header">
                            <tr class="custom-table__header-row">
                                <td class="custom-table__header-col custom-table__header-col_big custom-table__header-col_emp">Сотрудник</td>
                                <td class="custom-table__header-col custom-table__header-col_big custom-table__header-col_medium">Факт/норма</td>
                                <td class="custom-table__header-col custom-table__header-col_big custom-table__header-col_number" th:each="day : ${#numbers.sequence(1, daysCount, 1)}" th:utext="${day}"></td>
                            </tr>
                        </thead>
                        <tbody class="custom-table__body custom-table__body_white">
                            <tr class="custom-table__body-row"
                                th:each="employee : ${templateEmployee.get(department.id)}"
                                th:attr="data-employee=${employee.id}"
                                th:if="${templateSettings.get(department.id).get(employee.id)}">
                                <td class="custom-table__body-col custom-table__body-col_emp" th:attr="data-setting=${templateSettings.get(department.id).get(employee.id).id}, data-template=${templateSettings.get(department.id).get(employee.id).idTemplate}">
                                    <div class="employee">
                                        <div class="employee__avatar">
                                            <div class="avatar">
                                                <div avatar class="avatar__wrapper">
                                                        <span class="avatar-image" th:classappend="${(employee.avatar == null || #strings.isEmpty(employee.avatar)) ? 'avatar-image_default' : ''}">
                                                            <img th:if="${employee.avatar}" th:src="'/' + ${employee.avatar}" alt="">
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="employee__desc">
                                            <div employee-name class="employee-name" th:utext="${employee.name}"></div>
                                            <div employee-position class="employee-position" th:utext="${employee.position}"></div>
                                        </div>
                                    </div>
                                </td>
                                <td class="custom-table__body-col">
                                    <div class="grade">
                                        <div class="grade__values" th:with="total=${totalRateEmployee.get(department.id).get(employee.id)}">
                                            <span total-emloyee-rate class="grade-value grade-value_bold grade-value_small"
                                                  th:utext="${totalRateEmployee.get(department.id).get(employee.id)}"
                                                  th:classappend="${total >= 90 ? 'grade-value_green' : (total > 50 ? 'grade-value_yellow' : 'grade-value_red')}"></span>
                                            <span class="grade-delim grade-delim_small">/</span>
                                            <span class="grade-value grade-value_xsmall grade-value_bold">100</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="custom-table__body-col custom-table__body-col_number"
                                    th:each="day : ${#numbers.sequence(1, daysCount, 1)}"
                                    th:attr="data-day=${day}"
                                    th:with='rateDay=${rateEmployee.get(department.id).get(employee.id).get(day)}'>
                                    <th:block th:if="${rateDay} != null">
                                        <div th:classappend="${rateDay.total >= 90 ? 'rate_green' : (rateDay.total > 50 ? 'rate_yellow' : 'rate_red')}"
                                             class="rate"
                                             update-rate
                                             th:attr="data-rate=${rateDay.id}"
                                             th:utext="${rateDay.total}" ></div>
                                    </th:block>
                                    <th:block th:unless="${rateDay} != null">
                                        <div add-rate class="rate">—</div>
                                    </th:block>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div js-menu-rate class="menu">
    <div class="menu__wrapper">
        <div js-menu-rate-close-btn class="menu-header__close-btn menu-header__close-btn_absolute"></div>
        <div class="menu__content menu__content_end">
            <form js-rate-form action="#" class="menu__content-side menu__content-side_xxlarge">
                <div class="menu__header-wrapper">
                    <div class="menu-header">
                        <div class="menu-header__title">
                            Оценить качество
                        </div>
                    </div>
                </div>
                <div class="menu__description-wrapper">
                    <div class="employee">
                        <div class="employee__avatar">
                            <div class="avatar">
                                <div rate-avatar class="avatar__wrapper avatar__wrapper_xlarge">
                                </div>
                            </div>
                        </div>
                        <div class="employee__desc">
                            <div rate-employee-name class="employee-name employee-name_big"></div>
                            <div class="employee__desc-wrapper">
                                <div rate-employee-position class="employee-desc"></div>
                                <div class="employee-delim"></div>
                                <div rate-employee-department class="employee-desc"></div>
                            </div>
                        </div>
                    </div>
                    <div class="desc-date">
                        <div class="desc-date__description">Дата</div>
                        <div rate-date class="desc-date__date"></div>
                    </div>
                </div>

                <div class="menu__list menu__list_p0 menu__list_overflow-x custom-scroll menu__list_grow menu__list_gray">
                    <div rate-fields class="menu-rate__fields">

                    </div>
                </div>

                <div class="menu__footer menu__footer_start">
                    <input rate-id-setting type="hidden" name="idSetting" value="0">
                    <input rate-id-template type="hidden" name="idTemplate" value="0">
                    <input rate-day type="hidden" name="day" value="0">

                    <button js-save-rate type="button" class="button button_white">Оценить</button>
                    <div class="element-delim"><span></span></div>
                    <div class="grade">
                        <div class="grade__values">
                            <input total-rate-value type="hidden" name="total" value="0">
                            <span total-fields-value class="grade-value grade-value_bold">0</span>
                        </div>
                        <div class="grade__title">Итого баллов</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div js-menu-update-rate class="menu">
    <div class="menu__wrapper">
        <div js-menu-update-rate-close-btn class="menu-header__close-btn menu-header__close-btn_absolute"></div>
        <div class="menu__content menu__content_end">
            <form js-update-rate-form action="#" class="menu__content-side menu__content-side_xxlarge">
                <div class="menu__header-wrapper">
                    <div class="menu-header">
                        <div class="menu-header__title">
                            Редактировать оценку качества
                        </div>
                    </div>
                </div>
                <div class="menu__description-wrapper">
                    <div class="employee">
                        <div class="employee__avatar">
                            <div class="avatar">
                                <div u-rate-avatar class="avatar__wrapper avatar__wrapper_xlarge">
                                </div>
                            </div>
                        </div>
                        <div class="employee__desc">
                            <div u-rate-employee-name class="employee-name employee-name_big"></div>
                            <div class="employee__desc-wrapper">
                                <div u-rate-employee-position class="employee-desc"></div>
                                <div class="employee-delim"></div>
                                <div u-rate-employee-department class="employee-desc"></div>
                            </div>
                        </div>
                    </div>
                    <div class="desc-date">
                        <div class="desc-date__description">Дата</div>
                        <div u-rate-date class="desc-date__date"></div>
                    </div>
                </div>

                <div class="menu__list menu__list_p0 menu__list_overflow-x custom-scroll menu__list_grow menu__list_gray">
                    <div u-rate-fields class="menu-rate__fields">

                    </div>
                </div>

                <div class="menu__footer menu__footer_start">
                    <input u-rate-id-setting type="hidden" name="idSetting" value="0">
                    <input u-rate-id-template type="hidden" name="idTemplate" value="0">
                    <input u-rate-id type="hidden" name="id" value="0">

                    <button js-update-rate type="button" class="button button_white">Сохранить</button>
                    <div class="element-delim"><span></span></div>
                    <div class="grade">
                        <div class="grade__values">
                            <input total-rate-value type="hidden" name="total" value="0">
                            <span total-fields-value class="grade-value grade-value_bold">0</span>
                        </div>
                        <div class="grade__title">Итого баллов</div>
                    </div>

                    <th:block th:if="${role == 'ROLE_ADMIN'}">
                        <button js-delete-rate type="button" class="button button_white button_right">
                            <span>Удалить</span>
                        </button>
                    </th:block>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:insert="base :: scripts" />
<script th:src="@{/js/quality-rating-menu.js}"></script>
<script th:src="@{/js/upload-img.js}"></script>
<script th:src="@{/js/jquery.fancybox.min.js}"></script>
</body>
</html>