<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Пароли">

    <title>Пароли</title>

    <th:block th:insert="base :: links" />
    <link th:href="@{/css/side-content.css}" rel="stylesheet">
</head>

<body>
<div taboo-dialog class="dialog dialog_taboo display-none">
    <form category-form action="#" class="dialog__wrapper dialog__wrapper_img dialog__wrapper_img-taboo">
        <input category-form-id type="hidden" name="id">
        <div class="dialog__title">Раздел закрыт</div>
        <div class="dialog__text">Чтобы войти, введите пожалуйста мастер-пароль</div>
        <div class="dialog__wrap">
            <div class="menu-input__wrapper menu-input__wrapper_row menu-input__wrapper_wrap">
                <input data-password-part="1" name="part1" maxlength="1" class="menu-input__input menu-input__input_pswd" required/>
                <input data-password-part="2" name="part2" maxlength="1" class="menu-input__input menu-input__input_pswd" required/>
                <input data-password-part="3" name="part3" maxlength="1" class="menu-input__input menu-input__input_pswd" required/>
                <input data-password-part="4" name="part4" maxlength="1" class="menu-input__input menu-input__input_pswd" required/>
            </div>
        </div>
        <div class="dialog__buttons">
            <button type="submit" disabled class="button button_dialog button_not-allowed" disabled-btn accept-dialog >Подтвердить</button>
            <div class="button button_dialog button_white" close-taboo-dialog>Отмена</div>
        </div>
    </form>
</div>

<div th:replace="base :: dialog"></div>
<div th:replace="base :: dialog2"></div>
<div th:replace="base :: main-nav"></div>

<div class="main-content main-content_white-top-small">
    <div class="content-top">
        <div class="content-top__header">Пароли</div>
    </div>
    <div class="side-content">
        <div class="side-content__side">
            <div class="side-category">
                <div category-list class="side-category__list">
                    <th:block th:each="passwordCategory : ${passwordCategories}">
                        <div category th:attr="data-category=${passwordCategory.id}" class="side-category__item">
                            <div category-name open-category class="side-category__link" th:utext="${passwordCategory.name}"></div>
                            <div update-category class="side-category__setting"></div>
                        </div>
                    </th:block>
                </div>
                <div class="side-category__footer">
                    <div add-category class="add-button add-button_auto">+ Добавить категорию</div>
                </div>
            </div>
        </div>
        <div passwords class="side-content__main">
            <div class="message">
                <div class="message__title">Пожалуйста, выберите<br>категорию</div>
            </div>

        </div>
    </div>
</div>

<div js-menu-add-category class="menu">
    <div class="menu__wrapper">
        <div js-menu-add-category-close-btn class="menu-header__close-btn menu-header__close-btn_absolute"></div>
        <div class="menu__content menu__content_end">
            <form js-add-category-form action="#" class="menu__content-side menu__content-side_large">
                <div class="menu__header-wrapper">
                    <div class="menu-header">
                        <div class="menu-header__title">
                            Добавить категорию
                        </div>
                    </div>
                </div>
                <div class="menu__list menu__list_p0 custom-scroll">
                    <div class="menu-input menu-input_xsmall menu-input_t30">
                        <div class="menu-input__title">Название *</div>
                        <div class="menu-input__wrapper">
                            <input name="name" placeholder="Введите название" class="menu-input__input menu-input__input_small" required/>
                        </div>
                    </div>
                    <div class="menu-input__delim">
                        <span></span>
                    </div>

                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">Мастер-пароль *</div>
                        <div class="menu-input__wrapper menu-input__wrapper_row menu-input__wrapper_wrap">
                            <input data-part="1" name="part1" maxlength="1" class="menu-input__input menu-input__input_pswd" required/>
                            <input data-part="2" name="part2" maxlength="1" class="menu-input__input menu-input__input_pswd" required/>
                            <input data-part="3" name="part3" maxlength="1" class="menu-input__input menu-input__input_pswd" required/>
                            <input data-part="4" name="part4" maxlength="1" class="menu-input__input menu-input__input_pswd" required/>
                        </div>
                    </div>
                </div>

                <div class="menu__footer">
                    <button save-password-category disabled-btn disabled type="button" class="button button_white button_not-allowed">+ Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div js-menu-update-category class="menu">
    <div class="menu__wrapper">
        <div js-menu-update-category-close-btn class="menu-header__close-btn menu-header__close-btn_absolute"></div>
        <div class="menu__content menu__content_end">
            <form js-update-category-form action="#" class="menu__content-side menu__content-side_large">
                <input update-category-id name="id" type="hidden" required/>
                <input update-category-password name="password" type="hidden" required/>
                <div class="menu__header-wrapper">
                    <div class="menu-header">
                        <div class="menu-header__title">
                            Редактировать категорию
                        </div>
                    </div>
                </div>
                <div class="menu__list menu__list_p0 custom-scroll">
                    <div class="menu-input menu-input_xsmall menu-input_t30">
                        <div class="menu-input__title">Название *</div>
                        <div class="menu-input__wrapper">
                            <input update-category-name name="name" placeholder="Введите название" class="menu-input__input menu-input__input_small" required/>
                        </div>
                    </div>
                    <div class="menu-input__delim">
                        <span></span>
                    </div>

                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">Новый мастер-пароль </div>
                        <div class="menu-input__wrapper menu-input__wrapper_row menu-input__wrapper_wrap">
                            <input data-p="1" name="part1" maxlength="1" class="menu-input__input menu-input__input_pswd"/>
                            <input data-p="2" name="part2" maxlength="1" class="menu-input__input menu-input__input_pswd"/>
                            <input data-p="3" name="part3" maxlength="1" class="menu-input__input menu-input__input_pswd"/>
                            <input data-p="4" name="part4" maxlength="1" class="menu-input__input menu-input__input_pswd"/>
                        </div>
                    </div>
                </div>

                <div class="menu__footer">
                    <button update-password-category type="button" class="button button_white button_not-allowed">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div js-menu-add-password class="menu">
    <div class="menu__wrapper">
        <div js-menu-add-password-close-btn class="menu-header__close-btn menu-header__close-btn_absolute"></div>
        <div class="menu__content menu__content_end">
            <form js-add-password-form action="#" class="menu__content-side menu__content-side_large">
                <input password-category-id name="idCategory" type="hidden" required/>
                <div class="menu__header-wrapper">
                    <div class="menu-header">
                        <div class="menu-header__title">
                            Добавить пароль
                        </div>
                    </div>
                </div>
                <div class="menu__list menu__list_p0 custom-scroll">
                    <div class="menu-input menu-input_xsmall menu-input_t30">
                        <div class="menu-input__title">Название *</div>
                        <div class="menu-input__wrapper">
                            <input name="name" autocomplete="off" placeholder="Введите название" class="menu-input__input menu-input__input_small" required/>
                        </div>
                    </div>
                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">Описание</div>
                        <div class="menu-input__wrapper">
                            <textarea name="desc" placeholder="Введите описание"  class="menu-input__input menu-input__input_textarea menu-input__input_small"></textarea>
                        </div>
                    </div>

                    <div class="menu-input__delim">
                        <span></span>
                    </div>

                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">URL</div>
                        <div class="menu-input__wrapper">
                            <input name="url" placeholder="Введите URL" class="menu-input__input menu-input__input_small"/>
                        </div>
                    </div>
                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">Логин *</div>
                        <div class="menu-input__wrapper">
                            <input name="login" autocomplete="off" placeholder="Введите логин" class="menu-input__input menu-input__input_small" required/>
                        </div>
                    </div>
                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">Пароль *</div>
                        <div class="menu-input__wrapper">
                            <input name="password" autocomplete="off" placeholder="Введите пароль" class="menu-input__input menu-input__input_small" required/>
                        </div>
                    </div>
                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">Телефон</div>
                        <div class="menu-input__wrapper">
                            <input name="phone" autocomplete="off" placeholder="Введите телефон" class="menu-input__input menu-input__input_small"/>
                        </div>
                    </div>

                    <div class="menu-input__delim" access-delimiter>
                        <span></span>
                    </div>

                    <div class="menu-input__wrapper menu-input__wrapper_row menu-input__wrapper_margin">
                        <div class="menu-input menu-input_m  menu-input_full">
                            <div class="menu-input__wrapper">
                                <div del-access class="add-button add-button_light-violet">Удалить доступ</div>
                            </div>
                        </div>
                        <div class="menu-input menu-input_m  menu-input_full">
                            <div class="menu-input__wrapper ">
                                <div add-access class="add-button add-button_light-violet">Добавить доступ</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="menu__footer">
                    <button save-password type="button" class="button button_white button_not-allowed">+ Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div js-menu-update-password class="menu">
    <div class="menu__wrapper">
        <div js-menu-update-password-close-btn class="menu-header__close-btn menu-header__close-btn_absolute"></div>
        <div class="menu__content menu__content_end">
            <form js-update-password-form action="#" class="menu__content-side menu__content-side_large">
                <input u-password-id name="id" type="hidden" required/>
                <input u-password-category-id name="idCategory" type="hidden" required/>
                <div class="menu__header-wrapper">
                    <div class="menu-header">
                        <div class="menu-header__title">
                            Резактировать пароль
                        </div>
                    </div>
                </div>
                <div class="menu__list menu__list_p0 custom-scroll">
                    <div class="menu-input menu-input_xsmall menu-input_t30">
                        <div class="menu-input__title">Название *</div>
                        <div class="menu-input__wrapper">
                            <input u-password-name name="name" autocomplete="off" placeholder="Введите название" class="menu-input__input menu-input__input_small" required/>
                        </div>
                    </div>
                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">Описание</div>
                        <div class="menu-input__wrapper">
                            <textarea u-password-desc name="desc" placeholder="Введите описание"  class="menu-input__input menu-input__input_textarea menu-input__input_small"></textarea>
                        </div>
                    </div>

                    <div class="menu-input__delim">
                        <span></span>
                    </div>

                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">URL</div>
                        <div class="menu-input__wrapper">
                            <input u-password-url name="url" placeholder="Введите URL" class="menu-input__input menu-input__input_small"/>
                        </div>
                    </div>
                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">Логин *</div>
                        <div class="menu-input__wrapper">
                            <input u-password-login name="login" autocomplete="off" placeholder="Введите логин" class="menu-input__input menu-input__input_small" required/>
                        </div>
                    </div>
                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">Пароль *</div>
                        <div class="menu-input__wrapper">
                            <input u-password-password name="password" autocomplete="off" placeholder="Введите пароль" class="menu-input__input menu-input__input_small" required/>
                        </div>
                    </div>
                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">Телефон</div>
                        <div class="menu-input__wrapper">
                            <input u-password-phone name="phone" autocomplete="off" placeholder="Введите телефон" class="menu-input__input menu-input__input_small"/>
                        </div>
                    </div>

                    <div class="menu-input__delim" u-access-delimiter access-delimiter>
                        <span></span>
                    </div>

                    <div class="menu-input__wrapper menu-input__wrapper_row menu-input__wrapper_margin">
                        <div class="menu-input menu-input_m  menu-input_full">
                            <div class="menu-input__wrapper">
                                <div del-access class="add-button add-button_light-violet">Удалить доступ</div>
                            </div>
                        </div>
                        <div class="menu-input menu-input_m  menu-input_full">
                            <div class="menu-input__wrapper ">
                                <div is-update add-access class="add-button add-button_light-violet">Добавить доступ</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="menu__footer">
                    <button save-update-password type="button" class="button button_white button_not-allowed">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:insert="base :: scripts"/>
<script th:src="@{/js/copy.js}"></script>
<script th:src="@{/js/password-menu.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    setEmployeeTypes(/*[[${employeeTypeByDepartments}]]*/);
    setEmployeeByTypes(/*[[${employeeByTypes}]]*/);
    /*]]>*/
</script>
</body>
</html>