<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Панель администратора">

    <title>Настройки (проекты) | Панель администратора</title>

    <th:block th:insert="base :: links" />
</head>

<body>
<div th:replace="base :: main-nav"></div>

<div class="main-content main-content_white-top-small">
    <div class="content-top content-top_btn">
        <div class="content-top__header">Проекты</div>
        <div js-create-project class="add-button add-button_right add-button_violet">+ Добавить проект</div>
    </div>
    <div class="content-main article-container">
        <div class="content-main__wrapper">
            <div class="content-main__panel content-main__panel_align content-main__panel_p">
                <table class="custom-table">
                    <thead class="custom-table__header">
                    <tr class="custom-table__header-row">
                        <td class="custom-table__header-col custom-table__header-col_big">#</td>
                        <td class="custom-table__header-col custom-table__header-col_big">Название</td>
                        <td class="custom-table__header-col custom-table__header-col_big"></td>
                    </tr>
                    </thead>
                    <tbody projects-table class="custom-table__body custom-table__body_white">
                    <tr class="custom-table__body-row" th:each="project, stat : ${projects}">
                        <input type="hidden" p-id th:value="${project.id}" name="id" required>
                        <input type="hidden" p-id-company th:value="${project.idCompany}" name="idCompany" required>
                        <td class="custom-table__body-col" th:utext="${project.id}"></td>
                        <td class="custom-table__body-col custom-table__body-col_xxxlarge" >
                            <input p-name name="name"
                                   class="menu-input__input menu-input__input_small editable"
                                   th:attr="title=${project.name}"
                                   th:value="${project.name}"
                                   disabled
                                   placeholder="—">
                        </td>
                        <td class="custom-table__body-col custom-table__body-col_last">
                            <div edit-btns class="column-links display-flex-none">
                                <div edit-project-accept class="column_mwidth column_mwidth-accept"></div>
                                <div edit-project-cancel class="column_mwidth column_mwidth-cancel"></div>
                            </div>
                            <div edit-menu class="column-links display-flex-none is-open">
                                <div edit-project class="column_mwidth div-table__body-col_center column_mwidth-edit column_mwidth-edit-b"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div js-menu-create-project class="menu">
    <div class="menu__wrapper">
        <div js-menu-create-project-close-btn class="menu-header__close-btn menu-header__close-btn_absolute"></div>
        <div class="menu__content menu__content_end">
            <form js-project-form action="#" class="menu__content-side menu__content-side_large">
                <div class="menu__header-wrapper">
                    <div class="menu-header">
                        <div class="menu-header__title">
                            Создать проект
                        </div>
                    </div>
                </div>
                <div class="menu__list menu__list_p0 custom-scroll">
                    <div class="menu-input menu-input_xsmall menu-input_t30">
                        <div class="menu-input__title">Название *</div>
                        <div class="menu-input__wrapper">
                            <input js-project-form-name name="name" placeholder="Введите название" class="menu-input__input menu-input__input_small" required/>
                        </div>
                    </div>
                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">Юридическое лицо</div>
                        <div class="menu-input__wrapper">
                            <input js-project-form-tag name="tag" placeholder="Введите юридическое лицо" class="menu-input__input menu-input__input_small"/>
                        </div>
                    </div>

                    <div class="menu-input__delim">
                        <span></span>
                    </div>

                    <div class="menu-input menu-input_xsmall">
                        <div class="menu-input__title">Клиентская база *</div>
                        <div class="menu-input__wrapper menu-input__wrapper_select">
                            <select js-project-form-type name="*{clientBaseType}" class="menu-input__input menu-input__input_small menu-input__input_select menu-input__input_white">
                                <option th:each="clientBaseType : ${clientBaseTypes}"
                                        th:value="${clientBaseType.id}"
                                        th:utext="${clientBaseType.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="menu-input__delim">
                        <span></span>
                    </div>


                </div>

                <div class="menu__footer">
                    <button type="button" js-save-project class="button button_white">Создать проект</button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:insert="base :: scripts" />
<script th:src="@{/js/projects.js}"></script>
</body>
</html>